.required {
    color: orangered;
}
.narration{
    color:lightseagreen;
}
.s-btn{
    padding-top: 1%;
}
.form-margin-btn{
    margin-left: 77%;
}

select.input-sm, select.form-group-sm .form-control {
    height: 22px;
}

.input-sm, .form-group-sm .form-control {
    height: 23px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}
body{
    font-size:12px;
}

.form-control{
    height: 27px;
    padding: 2px 6px;
    font-size: 12px;
 }

.link-text-decoration{
    text-decoration: underline;
}