.required {
    color: orangered;
}
.filter-btn{
    padding-top: 1%;
    /*padding: 3px;*/
    /*height: 2px;*/

}
.form-margin-btn{
    margin-left: 82%;
}


select.input-sm, select.form-group-sm .form-control {
    height: 22px;
}

.input-sm, .form-group-sm .form-control {
    height: 23px;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}